/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
	 font-family:Tahoma,Dotum;
}
#topheader{
        height:50px;
        top:0;
		margin-top:-7px;
		background-color:#3d3d3d;
		box-shadow:0em -2em 1em #000 inset;
		}
#topheader a{
		font-size:10px;
		}
#topheader h2{
		letter-spacing:-1px;
		}
#topheader,#bottomheader{
        margin-left:-8px;
		margin-right:-5px;
		clear:both;
        padding:5px;
		color: #fff;
		text-transform: uppercase;
}
#bottomheader{
        height:185px;
		color: #999;
		border-top: 1px solid #aaa;
}
#bottomheader a{
		color: #555;
		text-decoration:none;
		float:right;
		padding:7px;
		font-size:14px;
		}

.links{
		//line-height:1.5;
		margin-top:-30px;
		font-size:0.7em;
        float:right;
		}
.links a{
		color:#999;
		padding:10px;
		margin-right:10px;
        text-decoration:none;        
 }

#topheader a:hover{
        color:#5e8ce9;
}
.container{
	padding-left:45px;
	padding-top:none;
}
.middle{
        float:center;
		background-color:#f2f2f2;
		width:1100px;
		height:350px;
		margin:15px;
		padding:30px;
		text-align:center;
		line-height:1.5;
		color:#999;
}
.middle h1{
		color:#000;
		font-size:5em;
		line-height:1;
		letter-spacing:-1px;
}

.btn-large {
        border-radius:2px;
        color:white;
		text-decoration:none;
        padding:10px;
        margin-top:15px;
        margin-left:5px;
        width:375px;
        background-color:#5e8ce9;
        font-size:20px;
}
a.btn-large:hover{color:white;
		box-shadow:0em -1em 1em #069 inset;
		}
input, textarea, select {
	border:1px solid #bbb;
	width:20em;
	padding:10px;
	height:auto;
	margin-bottom:15px;
	/*@include box_sizing;*/
}
input[type=submit]{
	width:10em;
	background-color:#5e8ce9;
    font-size:20px;
	color:white;
	box-shadow:0em -1em 1em #104E8B inset;
}

#dropdown ul{
	visibility: hidden;
	background-color:rgba(0, 0, 0, .5);
	display:block;
	width:120px;
	position:absolute;
	float:right;
	margin-top:5px;
	right:1px;
	}
#dropdown ul li{
	padding:5px;
	border-bottom:1px dotted #fafaf5;
	line-height:1.5;
}
#dropdown ul li a{
	color:white;
	}
#dropdown:hover ul, #dropdown:hover ul li{
	visibility:visible;
	}
