.microposts {
list-style: none;
margin: 0 0 0 0;
li {
padding: 10px 0;
border-top: 1px solid #e8e8e8;
}
}
.content {
display: block;
}
.timestamp {
color: #999;
}
.gravatar {
float: left;
margin-right: 10px;
}
aside {
float: left;
overflow:auto;
textarea {
height: 100px;
margin-bottom: 5px;
}
}
#aside{
float:left;
width:700px;
margin-left: 10px;
/*background-color: rgba(0,0,0,.5);*/
h3{
margin-left:3em;
}
}
.stats {
overflow: auto;
a {
float: left;
padding: 0 10px;
border-left: 1px solid #999;
color: gray;
&:first-child {
padding-left: 0;
border: 0;
}
&:hover {
text-decoration: none;
color: #5e8ce9;
}
}
strong {
display: block;
}
}
.user_avatars {
overflow: auto;
margin-top: 10px;
.gravatar {
margin: 1px 1px;
}
}