// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centered {
	margin-left:350px;
	margin-bottom:200px;
	margin-top:50px;
	border: 1px solid #ccc;
	padding:20px;
	width: 400px;
}