// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	 font-family:Tahoma,Dotum;
}
#topheader{
        height:50px;
        top:0;
		margin-top:-7px;
		background-color:#3d3d3d;
		box-shadow:0em -2em 2em #000 inset;
		h2{
		font-family:Goudy Old Style;
		width:300px;
		}
}
#topheader,#bottomheader{
        margin-left:-8px;
        max-width:1280px;
		min-width:1260px;
        padding:5px;
		color: #fff;
		text-transform: uppercase;
/*background-image:-webkit-gradient(linear,left top, left bottom, from(#ccc), to (#999));*/
}
#bottomheader{
        float:left;
        height:185px;
		color: #999;
		 border-top: 1px solid #aaa;
		//background-color:rgba(0,0,0,.5);
		a{
		color: #555;
		text-decoration:none;
		float:right;
		padding:7px;
		}
}
.links{
		//line-height:1.5;
		margin-top:-30px;
		font-size:0.7em;
        float:right;
		a{
		color:#999;
		padding:10px;
		margin-right:10px;
        text-decoration:none;        
        }
}
#topheader a:hover,a:hover{
        color:#5e8ce9;
}
.container{
	padding-left:45px;
	padding-top:none;
}
.middle{
        float:center;
		background-color:#f2f2f2;
		width:1100px;
		height:350px;
		margin:15px;
		padding:30px;
		text-align:center;
		line-height:1.5;
		color:#999;
		h1{
		color:#000;
		font-size:5em;
		line-height:1;
		}
}
a.btn-large {
        border-radius:2px;
        color:white;
		text-decoration:none;
        padding:10px;
        margin-top:15px;
        margin-left:5px;
        width:375px;
        background-color:#5e8ce9;
        font-size:20px;
		&:hover{
		box-shadow:0em -1em 1em #069 inset;
		}
}